.faq {
  width: 100%;
  margin: 0;
}
.faq .faqContent {
  padding: 60px 0;
}
.faq .faqContent h1 {
  text-align: center;
  font-size: 26px;
  color: #313A4A;
  font-weight: bold;
}
.faq .faqContent p {
  font-size: 12px;
  color: #313A4A;
  text-align: center;
  font-weight: 300;
}
.faq .faqContent .centerBetween {

}
.faq .faqContent .centerBetween .titleBar{
  padding: 10px 0;
}
.faq .faqContent .centerBetween  .block {
  margin: 20px 0;
}
.faq .faqContent .centerBetween  .block p{
  font-size: 13px;
  color: #000;
  text-align: justify;
  line-height: 20px;
}
.faq .faqContent .centerBetween .block .titleBar{
  cursor: pointer;
  padding: 12px 20px;
}
.faq .faqContent .centerBetween .block .titleBar:hover{
  background: #ecf0f1;
}
.faq .faqContent .centerBetween .block .titleBar img{
  float: right !important;
  cursor: pointer;
}

.faq .faqContent .centerBetween .right{
  margin-top: 20px;
}
.faq .faqContent .centerBetween .right p{
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
  color: gray;
  font-weight: 400;
  text-align: justify;
  line-height: 20px;
}
